!!!
%html
  %head
    %title Dan Kim
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}
    %link{:href => "stylesheets/styles.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Bitter|Oxygen|Satisfy|Merriweather", :rel => "stylesheet", :type => "text/css"}
    %meta{:content => "Dan Kim", :property => "og:title"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "http://dankim.org", :property => "og:url"}
    %meta{:content => "http://dankim.org/images/parker.jpg", :property => "og:image"}
    %meta{:content => "I'm a husband, dad, programmer, and student at The Starter League.", :property => "og:description"}/
  %body
    .container_12
      %header.grid_12
        %h1.header-text
          Hi, my name is Dan Kim.
        .intro
          %p.tight
            I'm a husband, dad, programmer, and
            = succeed "." do
              %a{:href => "starterleague", :title => "Dan Kim @ The Starter League"} student at The Starter League
          %p.tight
            I even have some
            = succeed "." do
              %a{:href => "experience/index.html", :title => "Dan Kim's Experience"} professional experience
      %section#family.grid_12.header-text
        %h2 This is my family. They're my #1 priority.
        %ul.group.image-group
          %li.grid_3.alpha
            %img.portrait-image{:alt => "Julie", :src => "images/julie.jpg"}
              %h3 Julie
          %li.grid_3
            %img.portrait-image{:alt => "Andrew", :src => "images/andrew.jpg"}
              %h3 Andrew
          %li.grid_3
            %img.portrait-image{:alt => "Jonas", :src => "images/jonas.jpg"}
              %h3 Jonas
          %li.grid_3.omega
            %img.portrait-image{:alt => "Parker", :src => "images/parker.jpg"}
              %h3 Parker
      %section.grid_12.spacer-top
        .spacer-bottom
          %h2.tight
            I'm passionate about programming great software.
          %h2.tight
            These are the teams I admire and learn from.
        %ul.group.image-group
          %li.grid_4.alpha
            %a{href: "http://starterleague.com", title: "Starter League"}
              %img.logos{:alt => "Starter League", :src => "images/starter-league.png"}
          %li.grid_4
            %a{href: "http://37signals.com", title: "37signals"}
              %img.logos{:alt => "37signals", :src => "images/37signals.png"}
          %li.grid_4.omega
            %a{href: "http://1871.com", title: "1871"}
              %img.logos{:alt => "1871", :src => "images/1871.png"}
      %section.grid_12
        %footer
          %a{:href => "http://github.com/lateplate", :title => "Dan Kim's Github"} Github
          \/
          %a{:href => "http://twitter.com/dankim", :title => "Dan Kim on Twitter"} Twitter
          \/
          %a{:href => "mailto:hello@dankim.org"} Email
    %script{:src => "http://php.dankim.org/dankim-org-ga.js", :type => "text/javascript"}