
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #fbfbeb; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; 
}

audio, canvas, video {
  display: inline-block; 
}

audio:not([controls]) {
  height: 0; 
}

html {
  font-family: "Merriweather", Georgia, serif;
  font-size: 24px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; 
}

a:focus {
  outline: thin dotted; 
}
a:active, a:hover {
  outline: 0; 
}

abbr[title] {
  border-bottom: 1px dotted; 
}

b, strong {
  font-weight: bold; 
}

dfn {
  font-style: italic; 
}

mark {
  background: yellow;
  color: black; 
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 16px; 
}

pre {
  white-space: pre-wrap; 
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; 
}

small {
  font-size: 80%; 
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; 
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; 
}

sub {
  bottom: -0.25em; 
}

img {
  border: 0; 
}

p, ul, ol {
  font-size: 20px;
  line-height: 35px;
  margin: 5px 0;
  color: #3d3938; 
}

h1, h2, h3, .header {
  font-family: "Lato", Georgia, serif;
  text-align: center;
  color: #fbfbeb;
  margin: 0; 
}

h1 {
  font-size: 48px; 
}

h2 {
  font-size: 32px; 
}

h3 {
  font-size: 24px; 
}

a {
  color: #1560b0;
  text-decoration: none; 
}

  a:hover {
    text-decoration: underline; 
  }

blockquote {
  font-style: italic; 
}

li {
  margin-bottom: 10px; 
}

.title-background, .title, .content {
  margin: 0 auto;
}

.title, .content {
  width: 670px;
}

.title-background {
  width: 100%;
  padding: 40px 0;
  background: #ab3822;
  color: #ab3822; 
}

.content {
  padding: 30px 0;
}

.content p {
  padding: 10px 0;
}

.content ol, ul {
  padding: 5px 20px;
}

.post-list {
  list-style: none;
  padding: 0;
  text-align: center; 
}

.post-date {
  font-weight: bold; 
}

.group {
  *zoom: 1; 
}

  .group:before {
    display: table;
    content: ""; 
  }

  .group:after {
    display: table;
    content: "";
    clear: both; 
  }
