!!!
%html
  %head
    %title Dan Kim's Blog - {{ page.title }}
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %link{:href => "{{site.url}}/stylesheets/styles.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "Dan Kim's Blog", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://dankim.org/blog", :property => "og:url"}/
    %meta{:content => "http://dankim.org/images/parker.jpg", :property => "og:image"}/
    %meta{:content => "I'm a husband, dad, programmer, and student at The Starter League.", :property => "og:description"}/
  %body
    .background-container-title
      .container-content
        %h1 
          {{ page.title }}
    .container-content
      {{ content }}
    %footer
    %script{:src => "http://php.dankim.org/dankim-org-ga.js", :type => "text/javascript"} 