<!DOCTYPE html>
<html>
  <head>
    <title>Dan Kim</title>
    <meta content='text/html;charset=utf-8' http-equiv='Content-Type'>
    <link href='../stylesheets/styles.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bitter|Oxygen|Satisfy|Merriweather' rel='stylesheet' type='text/css'>
    <meta content='Dan Kim' property='og:title'>
    <meta content='website' property='og:type'>
    <meta content='http://dankim.org' property='og:url'>
    <meta content='http://dankim.org/images/parker.jpg' property='og:image'>
    <meta content="I'm a husband, dad, programmer, and student at The Starter League." property='og:description'>
  </head>
  <body>
    <div class='container_12'>
      {{ content }}
      <section class='grid_12'>
        <footer>
          <a href='http://github.com/lateplate' title="Dan Kim's Github">Github</a>
          /
          <a href='http://twitter.com/dankim' title='Dan Kim on Twitter'>Twitter</a>
          /
          <a href='mailto:hello@dankim.org'>Email</a>
        </footer>
      </section>
    </div>
    <script src='http://php.dankim.org/dankim-org-ga.js' type='text/javascript'></script>
  </body>
</html>
